---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- CONFIGURATIONS -->
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BASIC SEO -->
    <meta
      name="Keywords"
      content="mayerli,diaz,paz,portafolio,marketing,digital"
    />
    <meta name="author" content="Mayerli Diaz Paz" />
    <meta name="canonical" content="mayerlidiazpaz.com" />
    <meta
      name="description"
      content="Potencio tu marca con estrategias personalizadas para generar ventas y conectar con tu audiencia."
    />

    <!-- OPEN GRAPH -->
    <meta
      property="og:description"
      content="Potencio tu marca con estrategias personalizadas para generar ventas y conectar con tu audiencia."
    />
    <meta property="og:url" content="https://mayerlidiazpaz.com" />
    <meta property="og:image" content="180x180" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Mayerli Diaz Paz | Ventas y Marketing Digital"
    />
    <meta
      property="og:site_name"
      content="Mayerli Diaz Paz | Ventas y Marketing Digital"
    />

    <!-- ICONS -->
    <link rel="icon" href="avatar.png" />
    <link rel="apple-touch-icon" href="avatar.png" />

    <!-- ASTRO -->
    <meta name="generator" content={Astro.generator} />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/meanmenu.css" />
    <link rel="stylesheet" href="assets/css/swipper.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Open+Sans&display=swap" rel="stylesheet">

    <!-- DOCUMENT TITLE -->
    <title>{title}</title>

    <style>
      * {
        font-family: "Atkinson Hyperlegible Next", sans-serif !important;
      }
    </style>
  </head>

  <body>
    <slot />

    <!-- SCRIPTS -->
    <script is:inline src="assets/js/jquery.min.js"></script>
    <script is:inline src="assets/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="assets/js/swipper-bundle.min.js"></script>
    <script is:inline src="assets/js/jquery.meanmenu.min.js"></script>
    <script is:inline src="assets/js/wow.min.js"></script>
    <script is:inline src="assets/js/odometer.min.js"></script>
    <script is:inline src="assets/js/appear.min.js"></script>
    <script is:inline src="assets/js/main.js"></script>
  </body>
</html>
